 .u-section-1 {
  background-image: linear-gradient(white, #f2f2f2);
  min-height: 895px;
}

.u-section-1 .u-image-1 {
  height: 675px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-group-1 {
  min-height: 273px;
  width: 964px;
  margin: -102px auto 45px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 11.25rem;
  font-weight: 700;
  text-shadow: 5px 6px 0 rgba(0,0,0,0.25);
  margin: -163px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 27px 0 0;
}

.u-section-1 .u-text-3 {
  font-family: Poppins;
  margin: 27px auto 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 823px;
  }

  .u-section-1 .u-image-1 {
    height: 603px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-1 {
    width: 940px;
    margin-bottom: 49px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -153px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 17px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 732px;
  }

  .u-section-1 .u-image-1 {
    height: 512px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-text-1 {
    font-size: 9.375rem;
    margin-top: -120px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 6.875rem;
    margin-top: -90px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 512px;
  }

  .u-section-1 .u-image-1 {
    height: 400px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-1 {
    min-height: 164px;
    width: 340px;
    margin-bottom: 50px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-top: -70px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
  }
} .u-section-2 {
  background-image: linear-gradient(#f2f2f2, white);
}

.u-section-2 .u-sheet-1 {
  min-height: 620px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 642px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  margin: 37px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1rem;
  margin: 30px auto 0 0;
  padding: 16px 43px;
}

.u-section-2 .u-text-3 {
  letter-spacing: 1px;
  margin: 37px 97px 0 0;
}

.u-section-2 .u-btn-2 {
  border-style: none none solid;
  padding: 0;
}

.u-section-2 .u-image-1 {
  min-height: 388px;
  background-image: url("images/942ee3ca71f880d3272dfd5cb4b10e9f605415c18363408d2b803e7c7eb57a88a376aade9d81916d125327dd0169bfc8e1becc38891ec89ab166ab_1280.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-image-2 {
  min-height: 342px;
  background-image: url("images/9d6911ce5f443dd407177e98b3b60348594a8932a5db3f6fd170b8e66cf633f1a9d6aa344eea6cad118ed24af19ca47b0440f41052ab5a38b10a87_1280.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-image-3 {
  min-height: 594px;
  background-image: url("images/81a0e6611ce520c410d35dd9061e8dd5737f55653319a53d3605eef0f113d44949ad49fc1a815116824214d95ea7242619aff174b83f3858407ba4_1280.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 404px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 529px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    margin-right: auto;
  }

  .u-section-2 .u-text-3 {
    margin-right: 7px;
  }

  .u-section-2 .u-image-1 {
    min-height: 320px;
  }

  .u-section-2 .u-image-2 {
    min-height: 282px;
  }

  .u-section-2 .u-image-3 {
    min-height: 490px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1173px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    min-height: 433px;
  }

  .u-section-2 .u-image-2 {
    min-height: 381px;
  }

  .u-section-2 .u-image-3 {
    min-height: 885px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 665px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 421px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3.75rem;
    width: auto;
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    min-height: 650px;
  }

  .u-section-2 .u-image-2 {
    min-height: 572px;
  }

  .u-section-2 .u-image-3 {
    min-height: 664px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1958px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-image-1 {
    min-height: 409px;
  }

  .u-section-2 .u-image-2 {
    min-height: 360px;
  }

  .u-section-2 .u-image-3 {
    min-height: 464px;
  }
} .u-section-3 {
  background-image: linear-gradient(white, #f2f2f2);
}

.u-section-3 .u-sheet-1 {
  min-height: 1129px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-3 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 109px auto 0 30px;
}

.u-section-3 .u-video-1 {
  min-height: 400px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 1rem;
  width: 500px;
  margin: 20px auto 0;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-line-1 {
  height: 3px;
  margin-bottom: 0;
  margin-top: 30px;
  transform-origin: left center 0px;
}

.u-section-3 .u-layout-wrap-2 {
  margin-top: 54px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 604px;
  background-image: none;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 15px;
}

.u-section-3 .u-text-3 {
  font-size: 1.25rem;
  margin: 0 15px;
}

.u-section-3 .u-image-1 {
  width: 525px;
  height: 287px;
  margin: 30px 0 0 15px;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 604px;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-text-4 {
  font-size: 1.25rem;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 953px;
  }

  .u-section-3 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-3 .u-video-1 {
    min-height: 330px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 498px;
  }

  .u-section-3 .u-image-1 {
    width: 440px;
    height: 241px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 498px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 478px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-video-1 {
    min-height: 253px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-image-1 {
    width: 330px;
    height: 181px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1085px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-video-1 {
    min-height: 380px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 803px;
  }

  .u-section-3 .u-video-1 {
    min-height: 239px;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
  }

  .u-section-3 .u-image-1 {
    width: 320px;
    height: 176px;
  }
} .u-section-4 {
  background-image: linear-gradient(#f2f2f2, #f2f2f2);
}

.u-section-4 .u-sheet-1 {
  min-height: 846px;
}

.u-section-4 .u-custom-html-1 {
  margin-bottom: 0;
  height: auto;
  min-height: 846px;
  margin-top: 0;
}