.u-block-ad55-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-ad55-3 {
  position: absolute;
  left: 0;
}

.u-block-ad55-4 {
  position: absolute;
  right: 0;
}

 .u-section-1-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/210512100735-johnson-johnson-covid-19-vaccine-exlarge-169.jpeg");
  background-position: 50% 50%;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1-1 .u-text-1 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 4px;
  margin: 221px 407px 0 441px;
}

.u-section-1-1 .u-text-2 {
  font-weight: 700;
  font-size: 4.5rem;
  margin: 12px auto 0;
}

.u-section-1-1 .u-btn-1 {
  border-style: solid;
  background-image: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 36px auto 60px;
  padding: 10px 40px;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-1-1 .u-text-1 {
    width: 239px;
    margin-left: 341px;
    margin-right: 307px;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-1-1 .u-text-1 {
    margin-left: 231px;
    margin-right: 197px;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-1-1 .u-text-1 {
    margin-left: 141px;
    margin-right: 107px;
  }

  .u-section-1-1 .u-text-2 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-1-1 .u-text-1 {
    margin-left: 41px;
    margin-right: 7px;
  }

  .u-section-1-1 .u-text-2 {
    font-size: 3rem;
  }
}

 .u-section-1-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/25b46c23-3962-4409-96e4-917eee735b46.jpg");
  background-position: 50% 50%;
}

.u-section-1-2 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1-2 .u-text-1 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 4px;
  margin: 243px 407px 0 451px;
}

.u-section-1-2 .u-text-2 {
  font-weight: 700;
  font-size: 4.5rem;
  margin: 30px auto 0;
}

.u-section-1-2 .u-btn-1 {
  border-style: solid;
  background-image: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 36px auto 60px;
  padding: 10px 40px;
}

@media (max-width: 1199px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-1-2 .u-text-1 {
    width: 239px;
    margin-left: 351px;
    margin-right: 307px;
  }
}

@media (max-width: 991px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-1-2 .u-text-1 {
    margin-left: 241px;
    margin-right: 197px;
  }
}

@media (max-width: 767px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-1-2 .u-text-1 {
    margin-left: 151px;
    margin-right: 107px;
  }

  .u-section-1-2 .u-text-2 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-1-2 .u-text-1 {
    margin-left: 51px;
    margin-right: 7px;
  }

  .u-section-1-2 .u-text-2 {
    font-size: 3rem;
  }
}

 .u-section-1-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/220410133451-us-marshals-file-restricted-exlarge-169.jpg");
  background-position: 50% 50%;
}

.u-section-1-3 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1-3 .u-text-1 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 4px;
  margin: 196px auto 0 431px;
}

.u-section-1-3 .u-text-2 {
  font-weight: 700;
  font-size: 4.5rem;
  margin: 8px auto 0;
}

.u-section-1-3 .u-btn-1 {
  border-style: solid;
  background-image: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 36px auto 60px;
  padding: 10px 40px;
}

@media (max-width: 1199px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-1-3 .u-text-1 {
    width: 239px;
    margin-left: 355px;
  }
}

@media (max-width: 991px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-1-3 .u-text-1 {
    margin-left: 272px;
  }
}

@media (max-width: 767px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-1-3 .u-text-1 {
    margin-left: 204px;
  }

  .u-section-1-3 .u-text-2 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-1-3 .u-text-1 {
    margin-left: 128px;
  }

  .u-section-1-3 .u-text-2 {
    font-size: 3rem;
  }
} .u-section-2 {
  background-image: none;
  min-height: 508px;
}

.u-section-2 .u-custom-html-1 {
  min-height: 480px;
  margin-top: 20px;
  margin-bottom: 8px;
  height: auto;
}