.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 200px;
}

.u-section-1 .u-container-layout-1 {
  padding: 21px 0;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  font-size: 6rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 0 0 auto;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  margin: 9px 47px 0 auto;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 200px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-3 {
  font-weight: 400;
  margin: 77px 0 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 200px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 86px 31px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 165px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 165px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 165px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 352px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 573px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 398px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 130px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 28px;
    margin-right: auto;
    margin-left: 65px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin: 30px auto -7px 24px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 177px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 23px;
    padding-bottom: 23px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 0;
    margin-right: auto;
    margin-left: 66px;
  }
} .u-section-2 {
  background-image: linear-gradient(white, #f2f2f2);
}

.u-section-2 .u-sheet-1 {
  min-height: 258px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1140px;
  margin: 1px auto;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 187px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 99px 30px 30px;
}

.u-section-2 .u-text-1 {
  margin-top: 0;
  font-size: 3rem;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin-bottom: 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-custom-html-1 {
  margin-bottom: 0;
  margin-top: 30px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 187px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  margin-top: 0;
  line-height: 1.8;
  margin-bottom: 0;
}

.u-section-2 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 286px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 154px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 154px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 314px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 2px;
    margin-bottom: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 416px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-right: 33px;
    margin-left: 33px;
    font-size: 2.25rem;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-right: auto;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-layout-wrap-1 {
    margin-top: 1px;
    margin-bottom: 1px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 14px 0;
  }

  .u-section-2 .u-text-1 {
    margin: 9px 0 -9px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 285px;
  }

  .u-section-2 .u-container-layout-2 {
    padding: 15px 0;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 61px;
    margin-bottom: 0;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 161px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 1px auto 1px 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 179px;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-3 .u-image-1 {
  width: 138px;
  height: 91px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 179px;
}

.u-section-3 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-3 .u-image-2 {
  width: 234px;
  height: 145px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 7px auto 0 56px;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 179px;
}

.u-section-3 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-3 .u-image-3 {
  height: 135px;
  width: 252px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto 0 47px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 228px;
  }

  .u-section-3 .u-layout-wrap-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-image-1 {
    width: 114px;
    height: 75px;
    position: relative;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 114px;
  }

  .u-section-3 .u-image-2 {
    width: 114px;
    height: 87px;
    margin-top: 0;
    margin-left: 68px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 114px;
  }

  .u-section-3 .u-image-3 {
    height: 75px;
    width: 140px;
    margin-left: 67px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 175px;
  }

  .u-section-3 .u-image-1 {
    width: 87px;
    height: 57px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 112px;
  }

  .u-section-3 .u-image-2 {
    width: 87px;
    height: 66px;
    margin-left: 57px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-image-3 {
    margin-left: 25px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-3 .u-image-1 {
    width: 496px;
    height: 54px;
    margin-top: 36px;
    margin-bottom: -10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-image-2 {
    width: 432px;
    height: 62px;
    margin-top: 9px;
    position: relative;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 113px;
  }

  .u-section-3 .u-image-3 {
    width: 481px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 295px;
  }

  .u-section-3 .u-image-1 {
    width: 282px;
    height: 37px;
    margin-left: 25px;
  }

  .u-section-3 .u-image-2 {
    width: 281px;
    height: 49px;
  }

  .u-section-3 .u-image-3 {
    height: 53px;
    width: 247px;
    margin-top: 14px;
    margin-right: 43px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 430px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 8px;
  margin-bottom: 3px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 420px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 30px 11px;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  font-style: normal;
  margin: 37px 0 0;
}

.u-section-4 .u-text-2 {
  font-weight: normal;
  margin: 21px 0 0;
}

.u-section-4 .u-text-3 {
  font-weight: 400;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
}

.u-section-4 .u-btn-1 {
  border-style: none;
  margin: 30px auto 0 0;
  padding: 8px 28px 8px 27px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 420px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 281px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 346px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 11px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 346px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 200px;
  }

  .u-section-4 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 376px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 433px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 564px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 286px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 276px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 500px;
}

.u-section-5 .u-custom-html-1 {
  margin-bottom: 0;
  min-height: 500px;
  margin-top: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-custom-html-1 {
    height: auto;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 227px;
  }

  .u-section-5 .u-custom-html-1 {
    margin-bottom: 1px;
    min-height: 226px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 500px;
}

.u-section-6 .u-custom-html-1 {
  margin-bottom: 0;
  min-height: 500px;
  margin-top: 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-custom-html-1 {
    height: auto;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 500px;
}

.u-section-7 .u-custom-html-1 {
  margin-bottom: 0;
  min-height: 500px;
  margin-top: 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-custom-html-1 {
    height: auto;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 598px;
}

.u-section-8 .u-text-1 {
  letter-spacing: 2px;
  font-size: 3.75rem;
  text-transform: none;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 20px auto 0;
}

.u-section-8 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-8 .u-text-2 {
  font-size: 1.25rem;
  width: 722px;
  font-style: normal;
  margin: 20px auto 0;
}

.u-section-8 .u-list-1 {
  grid-template-rows: auto;
  grid-auto-rows: 100%;
  margin-top: 48px;
  margin-bottom: 20px;
}

.u-section-8 .u-repeater-1 {
  grid-template-columns: calc(25% - 15px) calc(25% - 15px) calc(25% - 15px) calc(25% - 15px);
  min-height: 233px;
  grid-gap: 20px 20px;
}

.u-section-8 .u-list-item-1 {
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  background-image: linear-gradient(#e5e5e5, #999999);
}

.u-section-8 .u-container-layout-1 {
  padding: 40px 30px 30px;
}

.u-section-8 .u-icon-1 {
  height: 71px;
  width: 71px;
  color: rgb(11, 110, 202) !important;
  margin: 0 auto;
}

.u-section-8 .u-text-3 {
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: none;
  margin: 30px auto 0;
}

.u-section-8 .u-list-item-2 {
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  background-image: linear-gradient(#e5e5e5, #999999);
}

.u-section-8 .u-container-layout-2 {
  padding: 40px 30px 30px;
}

.u-section-8 .u-icon-2 {
  height: 71px;
  width: 71px;
  color: rgb(11, 110, 202) !important;
  margin: 0 auto;
}

.u-section-8 .u-text-4 {
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: none;
  margin: 30px auto 0;
}

.u-section-8 .u-list-item-3 {
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  background-image: linear-gradient(#e5e5e5, #999999);
}

.u-section-8 .u-container-layout-3 {
  padding: 40px 30px 30px;
}

.u-section-8 .u-icon-3 {
  height: 71px;
  width: 71px;
  color: rgb(11, 110, 202) !important;
  margin: 0 auto;
}

.u-section-8 .u-text-5 {
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: none;
  margin: 30px auto 0;
}

.u-section-8 .u-list-item-4 {
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  background-image: linear-gradient(#e5e5e5, #999999);
}

.u-section-8 .u-container-layout-4 {
  padding: 40px 30px 30px;
}

.u-section-8 .u-icon-4 {
  height: 71px;
  width: 71px;
  color: rgb(11, 110, 202) !important;
  margin: 0 auto;
}

.u-section-8 .u-text-6 {
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: none;
  margin: 30px auto 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 583px;
  }

  .u-section-8 .u-text-1 {
    font-size: 3.4375rem;
  }

  .u-section-8 .u-repeater-1 {
    min-height: 192px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 845px;
  }

  .u-section-8 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-8 .u-text-2 {
    width: 720px;
  }

  .u-section-8 .u-repeater-1 {
    grid-template-columns: calc(50% - 10px) calc(50% - 10px);
    min-height: 489px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-top: 48px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-top: 48px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-top: 48px;
  }

  .u-section-8 .u-container-layout-4 {
    padding-top: 48px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 860px;
  }

  .u-section-8 .u-text-2 {
    width: 540px;
  }

  .u-section-8 .u-repeater-1 {
    min-height: 440px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-8 .u-container-layout-4 {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1256px;
  }

  .u-section-8 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-8 .u-text-2 {
    width: 340px;
  }

  .u-section-8 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 816px;
  }
}

.u-section-8 .u-list-item-1,
.u-section-8 .u-list-item-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-8 .u-list-item-1.u-list-item-1.u-list-item-1:hover {
  transform: translateX(10px) translateY(0px) scale(1) !important;
}

.u-section-8 .u-list-item-1.u-list-item-1.u-list-item-1.hover {
  transform: translateX(10px) translateY(0px) scale(1) !important;
}

.u-section-8 .u-container-layout:hover .u-list-item-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-8 .u-list-item-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-8 .u-list-item-2,
.u-section-8 .u-list-item-2:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-8 .u-list-item-2.u-list-item-2.u-list-item-2:hover {
  transform: translateX(10px) translateY(0px) scale(1) !important;
}

.u-section-8 .u-list-item-2.u-list-item-2.u-list-item-2.hover {
  transform: translateX(10px) translateY(0px) scale(1) !important;
}

.u-section-8 .u-container-layout:hover .u-list-item-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-8 .u-list-item-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-8 .u-list-item-3,
.u-section-8 .u-list-item-3:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-8 .u-list-item-3.u-list-item-3.u-list-item-3:hover {
  transform: translateX(10px) translateY(0px) scale(1) !important;
}

.u-section-8 .u-list-item-3.u-list-item-3.u-list-item-3.hover {
  transform: translateX(10px) translateY(0px) scale(1) !important;
}

.u-section-8 .u-container-layout:hover .u-list-item-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-8 .u-list-item-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-8 .u-list-item-4,
.u-section-8 .u-list-item-4:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-8 .u-list-item-4.u-list-item-4.u-list-item-4:hover {
  transform: translateX(10px) translateY(0px) scale(1) !important;
}

.u-section-8 .u-list-item-4.u-list-item-4.u-list-item-4.hover {
  transform: translateX(10px) translateY(0px) scale(1) !important;
}

.u-section-8 .u-container-layout:hover .u-list-item-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-8 .u-list-item-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 590px;
}

.u-section-9 .u-text-1 {
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 60px auto 0;
}

.u-section-9 .u-text-2 {
  margin: 20px auto 0;
}

.u-section-9 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin: 45px 0 60px;
}

.u-section-9 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 18px));
  min-height: 312px;
  grid-gap: 24px;
}

.u-section-9 .u-list-item-1 {
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
}

.u-section-9 .u-container-layout-1 {
  padding: 30px 20px;
}

.u-section-9 .u-text-3 {
  margin: 0 auto;
}

.u-section-9 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-9 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.875rem;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 20px auto 0;
}

.u-section-9 .u-list-item-2 {
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
}

.u-section-9 .u-container-layout-2 {
  padding: 30px 20px;
}

.u-section-9 .u-text-5 {
  margin: 0 auto;
}

.u-section-9 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-9 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.875rem;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 20px auto 0;
}

.u-section-9 .u-list-item-3 {
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
}

.u-section-9 .u-container-layout-3 {
  padding: 30px 20px;
}

.u-section-9 .u-text-7 {
  margin: 0 auto;
}

.u-section-9 .u-text-8 {
  margin: 20px 0 0;
}

.u-section-9 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.875rem;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 20px auto 0;
}

.u-section-9 .u-list-item-4 {
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
}

.u-section-9 .u-container-layout-4 {
  padding: 30px 20px;
}

.u-section-9 .u-text-9 {
  margin: 0 auto;
}

.u-section-9 .u-text-10 {
  margin: 20px 0 0;
}

.u-section-9 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.875rem;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 535px;
  }

  .u-section-9 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 944px;
  }

  .u-section-9 .u-list-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 12px));
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-9 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-9 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-list-item-1 {
    transition-duration: 0.5s;
  }

  .u-section-9 .u-list-item-2 {
    transition-duration: 0.5s;
  }

  .u-section-9 .u-list-item-3 {
    transition-duration: 0.5s;
  }

  .u-section-9 .u-list-item-4 {
    transition-duration: 0.5s;
  }
}

.u-section-9 .u-list-item-1,
.u-section-9 .u-list-item-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-9 .u-list-item-1.u-list-item-1.u-list-item-1:hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-9 .u-list-item-1.u-list-item-1.u-list-item-1.hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-9 .u-list-item-2,
.u-section-9 .u-list-item-2:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-9 .u-list-item-2.u-list-item-2.u-list-item-2:hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-9 .u-list-item-2.u-list-item-2.u-list-item-2.hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-9 .u-list-item-3,
.u-section-9 .u-list-item-3:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-9 .u-list-item-3.u-list-item-3.u-list-item-3:hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-9 .u-list-item-3.u-list-item-3.u-list-item-3.hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-9 .u-list-item-4,
.u-section-9 .u-list-item-4:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-9 .u-list-item-4.u-list-item-4.u-list-item-4:hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-9 .u-list-item-4.u-list-item-4.u-list-item-4.hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
} .u-section-10 {
  background-image: none;
}

.u-section-10 .u-sheet-1 {
  min-height: 178px;
}

.u-section-10 .u-list-1 {
  grid-template-rows: auto;
  width: 1110px;
  margin: 0 auto 0 0;
}

.u-section-10 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 178px;
}

.u-section-10 .u-container-layout-1 {
  padding: 26px 30px;
}

.u-section-10 .u-text-1 {
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-10 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-10 .u-container-layout-2 {
  padding: 26px 30px;
}

.u-section-10 .u-text-3 {
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-10 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-10 .u-container-layout-3 {
  padding: 26px 30px;
}

.u-section-10 .u-text-5 {
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-10 .u-text-6 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 262px;
  }

  .u-section-10 .u-list-1 {
    height: auto;
    width: 940px;
  }

  .u-section-10 .u-repeater-1 {
    min-height: 245px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 319px;
  }

  .u-section-10 .u-list-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 299px;
  }

  .u-section-10 .u-list-1 {
    width: 540px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 254px;
  }

  .u-section-10 .u-list-1 {
    width: 340px;
    margin-top: 1px;
    margin-bottom: 1px;
  }

  .u-section-10 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }

  .u-section-10 .u-container-layout-1 {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .u-section-10 .u-text-2 {
    width: auto;
  }

  .u-section-10 .u-container-layout-2 {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .u-section-10 .u-text-4 {
    width: auto;
  }

  .u-section-10 .u-container-layout-3 {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .u-section-10 .u-text-6 {
    width: auto;
  }
} .u-section-11 {
  background-image: none;
}

.u-section-11 .u-sheet-1 {
  min-height: 500px;
}

.u-section-11 .u-custom-html-1 {
  margin-bottom: 0;
  min-height: 500px;
  margin-top: 0;
}

@media (max-width: 1199px) {
  .u-section-11 .u-custom-html-1 {
    height: auto;
  }
} .u-section-12 {
  background-image: url("images/-min.jpg");
  background-position: 50% 50%;
}

.u-section-12 .u-sheet-1 {
  min-height: 594px;
}

.u-section-12 .u-group-1 {
  width: 552px;
  min-height: 377px;
  background-image: none;
  margin: 199px auto 18px 0;
}

.u-section-12 .u-container-layout-1 {
  padding: 16px 50px;
}

.u-section-12 .u-text-1 {
  font-size: 6rem;
  letter-spacing: 1px;
  font-family: Quando;
  font-weight: 400;
  margin: 0;
}

.u-section-12 .u-text-2 {
  font-size: 1rem;
  line-height: 1.2;
  margin: 20px auto 0 0;
}

.u-section-12 .u-text-3 {
  font-style: italic;
  margin: 20px auto 0 0;
}

.u-section-12 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

.u-section-12 .u-btn-2 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  border-style: none;
  font-size: 1.25rem;
  margin: 27px auto 0 0;
  padding: 10px 56px;
}

@media (max-width: 1199px) {
  .u-section-12 .u-sheet-1 {
    min-height: 490px;
  }
}

@media (max-width: 991px) {
  .u-section-12 .u-sheet-1 {
    min-height: 375px;
  }

  .u-section-12 .u-group-1 {
    width: 437px;
    min-height: 362px;
  }

  .u-section-12 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-12 .u-text-1 {
    font-size: 4.5rem;
  }
}

@media (max-width: 767px) {
  .u-section-12 .u-sheet-1 {
    min-height: 281px;
  }

  .u-section-12 .u-group-1 {
    width: 409px;
  }

  .u-section-12 .u-container-layout-1 {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media (max-width: 575px) {
   .u-section-12 {
    background-position: 68.43% 50%;
  }

  .u-section-12 .u-sheet-1 {
    min-height: 177px;
  }

  .u-section-12 .u-group-1 {
    min-height: 375px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-12 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-12 .u-text-1 {
    font-size: 3.75rem;
    font-family: "Playfair Display", serif;
    font-weight: normal;
  }
}